/* Navbar styles */
.navbar {
  background-color: #141414;
  padding: 15px 0;
}

/* Brand styles */
.navbar-brand img {
  height: 30px;
  margin-right: 10px;
}

/* Search form styles */
.navbar form {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

/* Search input styles */
.navbar .form-control {
  border-radius: 0;
  margin-right: 10px;
}

/* Search button styles */
.navbar .btn-light {
  border-radius: 0;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
}

/* Nav links styles */
.navbar .nav-link {
  color: #ffffff !important;
  margin: 0 10px;
  font-size: 1rem;
  text-transform: capitalize;
}

/* Button styles */
.navbar .btn {
  border-radius: 0;
}

/* Hover styles */
.navbar .btn-light:hover {
  background-color: #ffffff;
  color: #141414;
}

