.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
}

.card {
  width: 250px;
  margin: 20px 0 !important; /* Remove horizontal margin */
  padding: 15px; /* You may adjust padding to your preference */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

.card:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.product_image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

body {
  margin: 0;
}
.container {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 3px 0;
  text-align: center;
}
.wrapper {
  min-height: calc(100vh - 60px); /* Adjust 60px to match your footer's height */
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}


  /* .sidebar-column {
    margin-top: 40px !important; 
  } */

  /* SIDEBAR SPACING IN PRODUCTS.JS */
  